@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html{
    font-size: 62.5%; 
}

body{
    background-color: #f3f3f3;
}


.app {
    background-color: #ffff;
    border-radius: .8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 40rem;
    margin: 10rem auto;
    border-radius: 10px;
    padding: 3rem;
}

.app h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: 700;
    border-bottom: 2px solid #333;
    padding-bottom: 1.5rem;
}

.quiz {
    padding: 1.5rem 0;
}

.quiz h2{
    font-size: 1.8rem;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.btn {
    background-color: #f9f9f9;
    color: #333;
    font-weight: 400;
    width: 100%;
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover:not([disabled]) {
    background: #333;
    color: #fff;
}

.btn:disabled{
    cursor: auto;
}

#next-btn{
    display: none;
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 15rem;
    border: 0;
    padding: 1rem;
    margin: 2rem auto 0;
    border-radius: .4rem;
    cursor: pointer;
    text-decoration: none;
}

.correct{
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}